body {
	background-color: black !important;
	color: white !important;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;

    --inactive: grey;
    --active: white;
}

h1 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

h2 {
    margin-top: 1.5rem !important;
}

.contact {
    animation: 2s fadein;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.nav-link {
    color: white !important;
    border: 2px solid transparent !important;
    border-radius: 10px !important;
}

.nav-link.active {
    background-color: black !important;
    border: 2px solid white !important;
    border-radius: 10px !important;
}

.navigation {
    background-color: rgba(0,0,0,0.85);
    border-radius: 30px;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.85);
    z-index: 0;
}

#tsparticles {
    position: fixed; 
    z-index: -1;
}

#main {
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 0 5px black;
}

#age {
    font-family: 'Courier Prime', monospace;
}

#grads {
    padding-top: 1rem;
    padding-bottom: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity .5s, max-height .5s;
    color: darkgrey;
}

#grads.hov {
    opacity: 0;
}

#grads span {
    margin-right: .5rem;
    margin-left: .5rem;
}

#social {
    text-align: center;
}

#mypic p {
    padding-top: calc(18.75px - 0.5rem);
}

a {
    color: #97a7ff !important;
    opacity: 1;
    transition: opacity .5s;
}

#grads a {
    color: inherit !important;
}

a:hover {
    opacity: 0.7;
}

#experiments video, #experiments .zoomable {
    border: 2px solid var(--inactive);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#satcomcontainer {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 900px) {
    #main {
        padding:50px;
        width: 100%;
    }
    p {
        font-size: large;
    }
    #about-me-desc p {
        font-size: 1rem;
    }
    #experiments video {
        width: 38vw;
        display: block;
    }
    #experiments .zoomable {
        height: 22.4vw;
        display: block;
    }
    #mypic .zoomable{
        margin: 30px;
        border-radius: 10px;
        width: 20vw;
        display: block;
        margin-top: 2rem;
        margin-bottom: auto;
    }
    #mypic .zoomable {
        transition: all .5s;
    }
    #mypic .zoomable:hover {
        transform: scale(1.15, 1.15) translateY(-1rem);
    }
    #grads {
        width: calc(20vw + 60px);
    }
    #about-me-desc {
        max-width: 60vw;
    }
    #about-me {
        flex-wrap: nowrap;
    }
    .astropic {
        width: 27vw;
        height: 27vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        transition: transform .5s;
    }
    .h:hover {
        transform: scale(1.1, 1.1);
    }
    #link {
        width: 250px;
        border:2px solid var(--inactive);
    }
    #link:hover {
        border:2px solid var(--active);
        box-shadow: 0 0 7px white;
    }
    #github-link {
        border:2px solid var(--inactive);    
    }
    #github-link:hover {
        border:2px solid var(--active);
    }
    #github-logo {
        display: none;
    }
    .col {
        width:880px;
    }
    .hoverable {
        transition: border .5s;
        transition: transform .5s;
    }
    
    .hoverable:hover {
        border: 2px solid var(--active) !important;
        box-shadow: 0 0 10px 0 white;
        transform: scale(1.05, 1.05);
    }
    #satcomcontainer {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1200px) {
    #main {
        padding: 50px;
        width: 1180px;
    }
    #mypic .zoomable{
        margin: 30px;
        border-radius: 10px;
        width: 250px;
        display: block;
        margin-top: 2rem;
        margin-bottom: auto;
    }
    #grads {
        width: 310px;
    }
    #about-me-desc {
        max-width: 750px;
    }
    .astropic {
        width: 325px;
        height: 325px;
    }
    #experiments video {
        width: 480px;
        height: auto;
        display: block;
    }
    #experiments .zoomable {
        width: 560px;
        height: auto;
        display: block;
    }
}

@media (max-width: 899px) {
    #main {
        margin-left: 0;
        width: 100%;
    }
    #astrophotography h3 {
        display: none;
    }
    #experiments img, #experiments video {
        width: 100%;
    }
    .navigation {
        font-size: x-small;
    }
    .navigation a {
        padding: 5px;
    }
    #mypic .zoomable{
        border-radius: 10px;
        width: max(35%,250px);
        display: block;
        margin-top: 1rem;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #about-me-desc {
        max-width: 100%;
    }
    #about-me {
        flex-wrap: wrap;
    }
    .astropic {
        width: 40vw;
        height: auto;
        margin: auto;
    }
    #stats {
        width: 90vw;
        height: 54vw;
    }
    #video {
        width: 88vw !important;
        height: 49.5vw !important;
        border-radius: 10px !important;
    }
    #link {
        width: 90vw;
        border:2px solid white;
    }
    #github-link {
        border:2px solid white;
    }
    #github-logo-flex {
        display: none;
    }
    #github-logo {
        display: block;
    }
    .col {
        width:90vw;
    }
}

#nav nav {
    padding-bottom: 2px !important;
}

#nav {
    transition: opacity 1s !important;
}

#nav.h {
    opacity: 0;
}

#tsparticles{
    position: absolute;
    width: 100%;
    height: 100%;
}

#about-me, #astrophotography, #coding, #experiments {
    padding-top: 65px;
}

#about-me {
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.85);
}

#astrophotography {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.astropic img {
    max-width: 100%;
    max-height: 66%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.astropic p {
    margin-bottom: 2px;
}

.screenshot-container {
    display: flex;
    height: min(40vh,30vw);
    justify-content: center;
}

.screenshot-container img {
    height: inherit;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--inactive);
}

#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
    border: 0px solid black;
}

#stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid white !important;
}

.contact, #links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#links {
    margin-top: 10px;
}

.platform-logo {
    filter: invert(1);
    width: 1.8rem;
    height: 1.8rem;
    margin-right:5px;
}

#link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 3.1rem;
	border-radius: 10px;
	line-height: 2.7rem;
    margin: 2px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.85);
}

#link img {
    filter: grayscale(1) contrast(2) invert(1);
}

#github-link {
    display: block;
	margin-left: auto;
	margin-right: auto;
	height: 1.8rem;
	border-radius: 10px;
    margin: 2px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.85);
}

#github-link p {
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

#github-logo-flex, #github-logo {
    height: 2rem;
    filter: invert(1);
}

#github-logo {
    margin-left: auto;
    margin-right: auto;
}

#github-logo-flex {margin-right: 3px;}

@media (min-width: 570px) {
	#footer br {
		display: inline;
		content: ' ';
		padding: 0 3px;
	}
}

.col {
	margin: 0 auto;
	border-radius: 15px;
	border: 2px solid white;
  }

  .collapsible {
	background-color: Transparent;
	text-align: center;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 15px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-tap-highlight-color: transparent;
  }

  .datadescription {
	background-color: Transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	float: right;
	margin-left: 5px;
  }
  
  .collapsible.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .particlebar {
    position: absolute; 
    top: 0; 
    position: fixed;
    z-index: -1;
    box-shadow: inset 0 0 30px 15px black;
  }

#footer, #footer a {
    padding-top: 55px;
    text-align: center;
    font-size: small;
    color: darkgray !important;
}

#footer a {
    text-decoration: none;
}