@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}

:root {
	background-color: var(--main-bg-color);
	scroll-behavior: smooth;

	--text-color: black;
	--main-bg-color: black;
	--button-color: rgb(46, 204, 113);
	--button-focus-color: rgb(39, 174, 96);
	--button-shadow-color: rgba(0, 0, 0, 0.3);
}

h1,h2,h3,h4,p,a,i,td,th {
	color:var(--text-color);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

input {
	color:var(--text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#persentile {
	font-size: large;
}

.stats {
	color: var(--text-color);
	text-align: center;
	margin: 0 auto;
	font-size: smaller;
	margin-bottom: 0;
	margin-top: 10px;
}

.notes {
	margin-top: 5px;
	font-size: 0.9rem;
	border-radius: 15px;
	border: 2px dotted var(--text-color);
	color: var(--text-color)
}

.notes p {
	margin: 8px;
}

.notes h3 {
	margin: 10px;
}

.redditcurvesdates {
	color: rgb(184, 17, 17);
}

.redditintcurvesdates {
	color: rgb(255, 115, 115);
}

.fullcurvesdates {
	color: rgb(73, 73, 176);
}

.bottomlink {
	cursor:pointer;
	text-decoration:underline;
}

*:focus {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.pctooltip {
	font-size: smaller;
}

/* Input*/
.input-underlined > input,
.input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--text-color);
	width: 100%;
	height: 3.5rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.input-underlined > input:focus,
.input-filled > input:focus {
	outline: none;
}

.input-underlined > .input-label,
.input-filled > .input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--text-color);
	transition: top .2s;
}

.input-underlined > input:focus + .input-label,
.input-underlined > input:valid + .input-label,
.input-filled > input:focus + .input-label,
.input-filled > input:valid + .input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 3px;;
}
.input-underlined > input {
	background: var(--main-bg-color);
}

.btn {
	position: relative;
  
	display: block;
	margin-top: 14px !important;
	margin: 3px auto;
	padding: 0;
  
	font-size: large;

	overflow: hidden;
  
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 0 15px 6px var(--button-shadow-color);
	
	background-color: var(--button-color);
	color: #ecf0f1;
	
	transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
	background-color: var(--button-focus-color);
  }
  
  .btn > * {
	position: relative;
  }
    
  .btn:before {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	display: block;
	width: 0;
	padding-top: 0;
	  
	border-radius: 100%;
	
	background-color: rgba(236, 240, 241, .3);
	
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
	width: 120%;
	padding-top: 120%;
	
	transition: width .2s ease-out, padding-top .2s ease-out;
  }

  *, *:before, *:after {
	box-sizing: border-box;
  }
    
  #content {
	display: flex;
	justify-content: center;
  }

  #link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 3.1rem;
	border-radius: 10px;
	border:2px solid var(--text-color);
	cursor: pointer;
	line-height: 3rem;
	width: 420px;
  }
  #link p{
		margin: 0;
  }
  #link img{
	  filter: invert(var(--invert));
  }

@media (min-width: 880px) {
  .vgroup {
	position: absolute;
	left: -50%;
	display: flex;
  }
  
  .item {
	flex-basis: 100px;
	height: 100px;
	margin: 5px;
  }

  canvas { 
	width: 420px;
  }

  div.input-group {
	margin-bottom: 1.5rem;
	position: relative;
	width: 420px;
  }

  .col {
	width: 420px; 
	margin: 0 auto;
	border-radius: 15px;
	border: 2px solid var(--text-color);
  }

  .mathchart {
	margin-top: 280px;
  }

  #copylink {
	  font-size: 0.97rem;
  }

  #chartrow2 {
	margin-top: 280px;
  }

  .finalchart {
	margin-top: 580px;
  }
}

@media (max-width: 879px) {
  .vgroup {
	  margin-top: 16px;
  }

  canvas { 
	width: 100vw; 
	display: block;
  }

  div.input-group {
	margin-top: 1rem;
	margin-bottom: 1rem;
	position: relative;
	width: 100%;
  }

  .col {
	width: 90vw; 
	margin: auto;
	border-radius: 15px;
	border: 2px solid var(--text-color);
  }

  .pctooltip {
	display: none;
  }

  .mathchart {
	margin-top: 0;
  }

  #copylink {
	font-size: min(3vw,1rem);
  }

  #chartrow2 {
	margin-top: 0;
  }

  .finalchart {
	  margin-top: 0;
  }
}

@media (max-width: 340px) {
	.collapsible {
		font-size: 13px !important;
	}

	#curveselector {
		font-size: 13px !important;
	}
}

.collapsible {
	background-color: Transparent;
	text-align: center;
	color: var(--text-color);
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 15px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-tap-highlight-color: transparent;
  }

  ul.share-buttons{
	list-style: none;
	padding: 0;
  }
  
  ul.share-buttons li{
	display: inline;
  }
  
  ul.share-buttons .sr-only{
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
  }
    
  .datadescription {
	padding: 0 18px;
	background-color: Transparent;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

.toggle-btn
{
    position: relative;
    width: 43px;
    height: 22px;
    margin: 0 auto;
    border-radius: 8px;
	margin-bottom: 10px;
}

#dark
{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#toggle-btn span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px 1px 5px #d9d9d9;
    border-radius: 12px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#toggle-btn span:before,#toggle-btn span:after
{
    content: '';
    position: absolute;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#toggle-btn span:before
{
    background-color: #fff;
    transform: translate(-16px,0px);
    z-index: 1;
}

#toggle-btn span:after
{
    background-color: #000;
    transform: translate(3px,0px);
    z-index: 0;
}

#toggle-btn input[type="checkbox"]:checked + span
{
    background-color: #000;
}

#toggle-btn input[type="checkbox"]:active + span
{
    opacity: 0.5;
}

#toggle-btn input[type="checkbox"]:checked + span:before
{
    background-color: #000;
    transform: translate(16px,-6px);
}

#toggle-btn input[type="checkbox"]:checked + span:after
{
    background-color: #fff;
    transform: translate(24px,0px);
}

#col1 {
	scroll-margin-top: 1rem;
}

#rangenum {
	font-size: 1.25rem;
}